$black: #000000;
$orange: #ff5816;
$blackOrange: #C44411;
$white: #FFFFFF;
$blue: #4673ab;
$blackGrey:#818588;
$blackPoor: #323232;
$CoralBlack: #040D0D;
$grey:#eff0f4;
$littleGrey: #DBDFE7;
$darkGrey: #7f8486;
$greyLight: #E7EAEF;
$greenLight: #42c16c;
$sandYellow: #f7c159;
$blueLight: #499ad9;
@mixin dflex{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}
@mixin centerPosition{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin lebelAfter($color){
  content: "";
  width: 24.28px;
  height: 24.28px;
  position: absolute;
  transform: rotate(45deg);
  background: $color;
  top: 18px;
  left: 14.5%;
  z-index: -1;
}
@mixin Lebel($color){
  display: inline;
  width: 34px;
    height: 30px;
    background: $color;
    position: relative;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    z-index: 5;
    top: -3px;
}
@mixin itemSleder{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
}
@mixin buttnoPrevNext{
  color: $orange;
  font-size: 3rem;
}
@mixin buttnoPrevNextHover{
  cursor: pointer;
  -moz-transform: scale(1.5, 1.5);
-webkit-transform: scale(1.5, 1.5);
-o-transform: scale(1.5, 1.5);
-ms-transform: scale(1.5, 1.5);
transform: scale(1.5, 1.5);
transition: 0.2s;
}
@mixin ItemsSlider_cards{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  width: 95%;
}
@mixin ItemsSlider_card{
  width: 194px;
  height: 388px;
  border: 1px solid #f3f4f7;
  border-radius: 10px;
  padding: 0 20px;
}
*{
  margin: 0;
  padding: 0;
}
html{
  font-family: 'Roboto-Light', sans-serif;
  font-size: 12px;
}

.container{
  max-width: 1140px;
  margin: 0 auto;
}
.menubox{
  background: #040D0D;
  height: 40px;
}
#checkbox-menu, .toggle{
  display: none;
}
.menu{
  height: 40px;
  @include dflex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.08rem;
}
.menu li{
  padding-right: 2.5rem;
  border-right: 1px dotted $white;
}
.menu li:last-of-type{
  padding-right: 0;
  border-right: none;
}
.menu a{
  color: #bdc3c5;
  text-decoration: none;
}
.menu a i{
  margin-left: 0.5rem;
  color:$orange;
}
.communication{
  margin-top: 1rem;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
}
.communication_logobox{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
    width: 50%;
    align-items: center;
}
.logobox_region{
font-family: 'Roboto-Regular';
font-size: 1.083rem;
font-weight: 300;
line-height: 20px;
}
.logobox_region a{
  text-decoration: none;
  color: $blue;
}
.logocontainer{
  margin-top: 1.5rem;
  @include dflex;
  align-items: center;
}
.logo{
  font-family: "Roboto-Thin";
  font-weight: 100;
	font-style: normal;
  font-size: 3.83rem;
  color: $CoralBlack;
}
.logo_p{
  background: url(img/bg_p.png);
  width: 75px;
  height: 46px;
  @include centerPosition;
  color: $orange;
  font-size: 3.83rem;
  	font-family: 'Roboto-Regular';
}
.tagline{
  margin-top: 0.5rem;
  font-size: 0.83rem;
font-weight: 300;
line-height: 18px;
text-transform: uppercase;
color: $blackGrey;
letter-spacing: 0.46px;
}
.callback{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}
.cloudback{
  @include dflex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction:column;
  width: 112px;
height: 57px;
margin-right: 1.33rem;
background-repeat: no-repeat;
  background: url(img/cloud.png);
}
.cloudback p{
  color: $blue;
  font-size: 1rem;
font-weight: 400;
line-height: 16px;
text-transform: uppercase;
position: relative;
    right: 5px;
    border-bottom:  1px dotted $blue;
}
.number_phone{
  font-family: "Roboto-Regular";
font-size: 1.83rem;
font-weight: 400;
color: $CoralBlack;
line-height: 20px;
}
.worktime{
  font-family: "Roboto-Light";
font-weight: 300;
font-size: 1.083rem;
line-height: 20px;
}
.massenger{
@include dflex;
}
.massenger img{
  margin-right: 3px;
  width: 16px;
  height: 16px;
}
.massenger p{
  font-family: "Roboto-Light";
font-weight: 300;
font-size: 1.083rem;
line-height: 20px;
}
.mail{
  color: $blue;
font-family: "Roboto-Light";
font-size: 1.083rem;
font-weight: 300;
text-decoration: underline;
}
.search-and-basket{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
}
.search_text{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
}
.search_text img{
  width: 25px;
  height: 25px;
  margin-right: 0.33rem;
}
.search_text p{
  font-family: "Roboto-Light";
  font-size: 1.33rem;
  line-height: 18px;
text-transform: uppercase;
font-weight: 300;
  color: $CoralBlack;
}
.search_text p span{
color: $orange;
font-family: "Roboto-LightItalic";
font-weight: 400;
}
.search_form{
  margin-top: 1rem;
}
.search_form input{
padding-left: 1.25rem;
width: 213px;
height: 30px;
border-radius: 4px;
background-color: $grey;
font-family: 'Roboto-Regular';
font-size: 1.083rem;
font-weight: 300;
line-height: 20px;
border: none;
}
.search_form  button{
  width: 58px;
height: 26px;
border-radius: 3px;
background-color: $orange;
border: none;
font-family: 'Roboto-Regular';
font-size: 1.083rem;
font-weight: 300;
line-height: 20px;
color: $white;
position: relative;
right: 64px;
}
.search_form  button:hover{
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
  transition: 0.3s;
  cursor: pointer;
}
.search_form  button:active{
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.bascetbox{
  width: 195px;
}
.bascetbox_enter{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1.25rem;
}
.enter{
  font-family: 'Roboto-Regular';
font-size: 1.083rem;
font-weight: 300;
line-height: 20px;
margin-right: 1rem;
color: $blue;
}
.enter:last-of-type{
  margin-right: 0;
}
.bascet{
  background: url(img/trash_bg.png);
  width: 177px;
height: 52px;
display: -webkit-flex;
display: -ms-flex;
display: flex;
align-items: center;
padding-left: 1.5rem;
margin-bottom: 0.66rem;
}
.bascet_img{
  font-size: 2rem;
  color: $orange;
  margin-right: 1rem;
}
.trash:first-child{
color: $CoralBlack;
line-height: 1.5rem;
font-family: "Roboto-Medium";
font-weight: 500;
text-transform: uppercase;
}
.trash:last-of-type{
  color: $CoralBlack;
font-family: 'Roboto-Light';
font-size: 1.083rem;
font-weight: 300;
line-height: 18px;
}
.trash a{
  color: $blue;
}
.basket_like{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
}
.like{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  border-bottom: 1px dotted $blue;
}
.compare{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  border-bottom: 1px dotted $blue;
}
.like i{
  font-size: 1.2rem;
  color: #c6517a;
  margin-right: 0.5rem;
}
.like p{
  color: #363c3e;
font-family: 'Roboto-Regular';
font-size: 0.916rem;
font-weight: 300;
line-height: 18px;
margin-right: 0.6rem;
}
.like p:last-of-type{
  margin-right: 0;
}
.like p a{
  text-decoration: none;
  color: $blue;
}
.compare i{
  font-size: 1.2rem;
  color: #499c54;
  margin-right: 0.5rem;
}
.compare p{
  color: #363c3e;
font-family: 'Roboto-Regular';
font-size: 0.916rem;
font-weight: 300;
line-height: 18px;
margin-right: 0.6rem;
}
.compare p:last-of-type{
  margin-right: 0;
}
.compare p a{
  text-decoration: none;
  color: $blue;
}
.additionallMenu{
  margin-top: 2.66rem;
  width: 100%;
  background-color: $blackOrange;
  border-radius: 10px;
  height: 4rem;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}
.slider__menu{
display: -webkit-flex;
display: -ms-flex;
display: flex;
    li{
      text-transform: uppercase;
      list-style-type: none;
      padding: 10px 6px 10px 6px;
      background: $orange;
      height: 25px;
      border-right: 1px solid #FF7536;
    }
    li:first-child{
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      padding-left: 20px;
    }
    li:last-of-type{
      border-right: none;
    }
    li:hover{
      background: #FF7536;
      cursor: pointer;
      height: 28px;
    }
    li:active{
      background: #FF7536;
      cursor: pointer;
      height: 28px;
    }
    li:hover a{
      text-decoration: underline;
    }
    li:active a{
      text-decoration: underline;
    }
    a{
      color: $white;
      text-decoration: none;
      font-size: 1rem;
    }
}
.prev, .next{
  width: 17px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $white;
  font-size: 1.5rem;
}
.content{
  margin-top: 2rem;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
}
.content__news{
  width: 263px;
}
.news__h2{
  padding-bottom: 1.33rem;
  border-bottom: 1px solid $littleGrey;
}
h2{
  font-family: "Roboto-Medium";
  font-size: 22px;
  color: $black;
  text-transform: uppercase;
}
.news__block{
  margin-top: 1rem;
}
.block{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  padding: 1.33rem 0 0;
  border-bottom: 1px dotted $littleGrey;
}
.date{
  width: 36px;
  height: 28px;
  border-radius: 4px;
  background: $white;
  position: relative;
  top: -18px;
  left: 11px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  align-items: center;
    p{
      color: $orange;
      font-family: "Roboto-Medium";
      font-size: 1.66rem;
    }
}
.date__month{
  font-size: 1rem;
  font-family: "Roboto-Light";
  color: $black;
  position: relative;
  top: -20px;
    left: 7px;
}
.block__text{
  width: 188px;
}
.block__text h4{
    font-family: "Roboto-Medium";
    font-size: 1rem;
    line-height: 18px;
  }
  .block__text h4 a{
      text-decoration: none;
      color: $blue;
    }
  .block__text h4 a:hover{
      color: $orange;
      text-decoration: underline;
      transition: 0.3s;
    }
  .block__text h4 a:active{
      color: $orange;
      text-decoration: underline;
      transition: 0.3s;
    }

  .block__text p{
    font-family: "Roboto-Light";
    color: $black;
    line-height: 18px;
  }

.all_news{
  margin-top: 1.25rem;
}
.sliderStocks__text{
  font-family: "Roboto-Medium";
  font-size: 1.5rem;
  height: 4rem;
  background-color: $greyLight;
  border-radius: 10px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 3rem;
}
.sliderStocks__text span{
  color: $blue;
}
.sliderStocks__container{
  margin-top: 2.66rem;
  height: 368px;
}
.sliderStocks__slide{
  background: url(img/sliderStocks.png);
  background-repeat: no-repeat;
  height: 320px;
  padding: 48px 0 0 64px;
  border-radius: 10px;
}

.slide_h2{
    font-size: 1.85rem;
    color: $white;
    font-family: "Roboto-Light";
}
.slide_h2 span:first-child{
  font-family: "Roboto-Medium";
  color: $orange;
  font-size: 2rem;
}
.slide_h2 span:last-child{
  font-size: 1.2rem;
  font-style: italic;
}
.sliderStocks__slide ul{
  margin-top: 3rem;
  color: $white;
  margin-left: 1rem;
}
.sliderStocks__slide ul li:first-child{
  margin-top: 0;
}
.sliderStocks__slide ul li{
  margin-top: 1rem;
}
.sliderStocks__button{
  width: 154px;
  height: 40px;
  background: #C5C5C5;
  border-radius: 7px;
  margin-top: 40px;
}
.sliderStocks__button button{
  height: 37px;
  width: 100%;
  border-radius: 7px;
  color: $blue;
  background: $white;
  text-transform: uppercase;
  font-family: "Roboto-Medium";
  font-size: 1.25rem;
  border: none;
}
.sliderStocks__button button:hover{
  cursor: pointer;
  height: 40px;
  -webkit-box-shadow: 0 0 5px 0 #000000;
  box-shadow: inset 0 0 5px 0 #000000;
  transition: 0.2s;
}
.sliderStocks__button button:active{
  cursor: pointer;
  height: 40px;
  -webkit-box-shadow: 0 0 5px 0 #000000;
  box-shadow: inset 0 0 5px 0 #000000;
}
.sliderStocks-button{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
    justify-content: space-between;
    position: relative;
    top: -215px;
    padding: 0 1rem;
}
.sliderStocks-button-next, .sliderStocks-button-prev{
  color: $orange;
  font-size: 4rem;
}
.sliderStocks-button-next:hover, .sliderStocks-button-prev:hover{
  -moz-transform: scale(1.2);
-webkit-transform: scale(1.2);
-o-transform: scale(1.2);
-ms-transform: scale(1.2);
transform: scale(1.2);
transition: 0.2s;
cursor: pointer;
}
.sliderStocks-button-next:active, .sliderStocks-button-prev:active{
  -moz-transform: scale(1.2);
-webkit-transform: scale(1.2);
-o-transform: scale(1.2);
-ms-transform: scale(1.2);
transform: scale(1.2);
cursor: pointer;
}
.sliderStocks-pagination{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: flex-end;
  position: relative;
  top: -100px;
  right: 20px;
}
.pagination{
  width: 15px;
  height: 15px;
  border-radius: 4px;
  margin-right: 3px;
  background: $white;
}
.pagination:hover{
  background: $orange;
  cursor: pointer;
}
.pagination:active{
  background: $orange;
  cursor: pointer;
}
.pagination:first-child{
  background: $orange;
}
.subject{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5rem;
}
.subject hr{
  width: 72%;
  background-color: #f3f4f7;
  height: 1px;
  border: 0px none;
}
.newItemsSlider{
  @include itemSleder;
}
.newItemsSlider-button-prev, .newItemsSlider-button-next{
  @include buttnoPrevNext;
}
.newItemsSlider-button-prev:hover, .newItemsSlider-button-next:hover{
  @include buttnoPrevNextHover;
}
.newItemsSlider_cards{
  @include ItemsSlider_cards;
}
.newItemsSlider_card{
  @include ItemsSlider_card;
}
.newItemsSlider_card:hover{
  border: 1px solid $orange;
}
.cardLebel{
    @include Lebel($greenLight);
}
.cardLebel::after{
    @include lebelAfter($greenLight);
}

.cardLebel_text{
  font-family: "Roboto-Medium";
  font-size: 1rem;
  color: $white;
  text-transform: uppercase;
}
.card_img{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
}
.card_img img{
  width: 80%;
}
.card_h3{
  font-family: "Roboto-Medium";
  font-size: 1.33rem;
  color: $blue;
  margin-top: 1rem;
}
.card_h3:hover{
  color: $orange;
}
.price{
  margin-top: 2rem;

}
.price span:first-child{
  font-size: 1.5rem;
  font-family: "Roboto-Bold";
  color: $black;
}
.price span:nth-child(2){
  text-decoration:line-through;
  color: $orange;
}
.submitbox{
  margin-top: 16px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.submitbox button{
  background: $orange;
  color: $white;
  text-transform: uppercase;
  border: none;
  border-radius: 7px;
  width: 114px;
  height: 40px;
  padding: 0 16px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-around;
  font-family: "Roboto-Medium";
  font-size: 14px;
}
.submitbox button:hover{
  background: $blue;
  cursor: pointer;
  transition: .1s;
}

.recomendItemsSlider{
  @include itemSleder;
}
.recomendItemsSlider-button-prev, .recomendItemsSlider-button-next{
  @include buttnoPrevNext;
}
.recomendItemsSlider-button-prev:hover, .recomendItemsSlider-button-next:hover{
  @include buttnoPrevNextHover;
}
.recomendItemsSlider_cards{
  @include ItemsSlider_cards;
}
.recomendItemsSlider_card{
  @include ItemsSlider_card;
}
.recomendItemsSlider_card:hover{
  border: 1px solid $orange;
}
.recomendcardLebel{
    @include Lebel($sandYellow);
}
.recomendcardLebel::after{
    @include lebelAfter($sandYellow);
}
.recomendcardLebel i{
  font-size: 1.5rem;
}
.saleItemsSlider{
  @include itemSleder;
}
.saleItemsSlider-button-prev, .saleItemsSlider-button-next{
  @include buttnoPrevNext;
}
.saleItemsSlider-button-prev:hover, .saleItemsSlider-button-next:hover{
  @include buttnoPrevNextHover;
}
.saleItemsSlider_cards{
  @include ItemsSlider_cards;
}
.saleItemsSlider_card{
  @include ItemsSlider_card;
}
.saleItemsSlider_card:hover{
  border: 1px solid $orange;
}
.salecardLebel{
    @include Lebel($blueLight);
}
.salecardLebel::after{
    @include lebelAfter($blueLight);
}
